<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col>
			<ion-list inset>

				<ion-item>
					<ion-input type="text" 
					placeholder="Name" 
					name="name" 
					[(ngModel)]="registerCredentials.firstName" 
					required></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="text" 
					placeholder="Apellidos" 
					name="lastname" 
					[(ngModel)]="registerCredentials.lastName" 
					required></ion-input>
					</ion-item>
				<ion-item>
					<ion-input type="text" 
					placeholder="Email" 
					name="email" 
					[(ngModel)]="registerCredentials.email" 
					required></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" 
					placeholder="Password" 
					name="password" 
					[(ngModel)]="registerCredentials.password" 
					required></ion-input>
				</ion-item>

			</ion-list>
		</ion-col>
	</ion-row>

    <div padding>
		<ion-button size="large" expand="block" type="submit" (click)="newRegister()">Guardar</ion-button>
	</div>
      
</ion-content>
