<ion-content padding>
	<ion-grid>
		<ion-row justify-content-center>
			<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
				<div text-center>
					<h4>Login Form</h4>
				</div>
				<div padding>
					<ion-item>
						<ion-input type="text" name="email" placeholder="Username" [(ngModel)]="userLog.email"></ion-input>
					</ion-item>

					<ion-item>
						<ion-input type="password" name="password" placeholder="Password" [(ngModel)]="userLog.password"></ion-input>
					</ion-item>
				</div>

				<div padding>
					<ion-button size="large" expand="block" (click)="login()">Login</ion-button>
				</div>
				<div class="ion-text-center">
					<a (click)="register()">Si no tienes una cuenta, Registrate ahora</a>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
