<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> {{cards.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
	  <ion-card-header>
	  	<div>
	  		<div class="card-img" [ngStyle]="{background: 'url(' + cards.urlToImage + ')'}"></div>
	  	</div>
	  </ion-card-header>

	  <ion-card-content>
	    <ion-card-title>{{cards.title}}</ion-card-title>
	    <ion-card-subtitle>{{cards.author}}</ion-card-subtitle>
	    <ion-card-subtitle>{{cards.publishedAt}}</ion-card-subtitle>
	    {{cards.description}}
	  </ion-card-content>
	</ion-card>
</ion-content>
