ion-card{
	border-radius:15px;
	ion-card-header{
		margin:0;
		padding:0;
		.card-img{
			border-radius:15px 15px 0 0;
			background-size:cover!important;
			background-position: center!important;
			background-repeat:no-repeat!important;
			width: 100%;
			height: 300px;
		}
	}
	ion-card-content{
		ion-card-title{
			font-weight:bold;
		}
		ion-card-title,
		ion-card-subtitle{
			padding:4px 0;
		}
	}
}