<ion-content>

	<ion-card>
	  <ion-item class="activated">
	    <ion-icon ios="ios-paper-plane" md="md-paper-plane" slot="start"></ion-icon>
	    <ion-label>
	  		<p padding-left float-left>Título</p>
	    </ion-label>
	    <ion-label>
	  		<p class="ion-text-end" ion-float-left>Autor <ion-icon ios="ios-contact" md="md-contact"></ion-icon></p>
	    </ion-label>
	  </ion-item>
	</ion-card> 
	<ion-card
	*ngFor="let i=index; let item of listCards.articles" 
	(click)="newsId(i)">
		
	  <ion-item class="activated">
	    <ion-icon ios="ios-paper" md="md-paper" slot="start"></ion-icon>
	    <ion-label>
	  		<p padding-left float-left>{{item.title}}</p>
	    </ion-label>
	    <ion-label>
	  		<p class="ion-text-end" ion-float-left>{{item.author}}</p>
	    </ion-label>
	  </ion-item>
	</ion-card>

</ion-content>
